plex-request.eventide.network

reverse_proxy /* ombi.service.consul:3579
reverse_proxy /sonarr* sonarr.service.consul:8989
reverse_proxy /radarr* radarr.service.consul:7878
reverse_proxy /lidarr* lidarr.service.consul:8686
reverse_proxy /sabnzbd* sabnzbd.service.consul:8080
reverse_proxy /hydra2* hydra2.service.consul:5076
reverse_proxy /tautulli* tautulli.service.consul:8181

