[Unit]
Description=Pi-Hole
After=network-online.target

[Service]
Type=simple
User=root
Group=root
ExecStartPre=-/usr/bin/docker rm -f pihole
ExecStart=/usr/bin/docker run \
	--name=pihole \
	--mount type=bind,source=/opt/pihole/etc,target=/etc/pihole \
	--mount type=bind,source=/opt/pihole/dnsmasq.d,target=/etc/dnsmasq.d,bind-propagation=rslave \
	--cap-add=NET_ADMIN \
	-p 53:53/tcp \
	-p 53:53/udp \
	-p 80:80 \
	--hostname pi.hole \
	-e SERVERIP=192.168.0.2 \
	-e INTERFACE="enp0s20f0" \
	-e DNSMASQ_LISTENING=all \
	-e TZ=America/New_York \
	--security-opt label=disable \
	--rm \
	docker.io/pihole/pihole:latest
ExecStop=-/usr/bin/docker stop pihole
ExecReload=-/usr/bin/docker restart pihole
Restart=always
RestartSec=30

[Install]
WantedBy=multi-user.target
