[Unit]
Description=rClone (Backup Folder)
AssertPathIsDirectory=/mnt/rclone/backup
AssertPathIsDirectory=/mnt/rclone/cache/backup
Wants=network-online.target
Requires=consul-template.service
After=network-online.target consul-template.service

[Service]
Type=notify
User=root
Group=root
ExecStart=/usr/bin/rclone mount \
  --config /opt/rclone/rclone.conf \
  --allow-other \
  --allow-non-empty \
  --dir-cache-time 48h \
  --cache-dir /mnt/rclone/cache/backup \
  --vfs-cache-mode full \
  --vfs-cache-max-age 12h \
  --vfs-cache-max-size 10G \
  google-drive:/Backup /mnt/rclone/backup
ExecStop=/bin/fusermount -uz /mnt/rclone/backup
Restart=on-abort

[Install]
WantedBy=multi-user.target
