[Unit]
Description=rClone (Backup Folder)
AssertPathIsDirectory=/mnt/rclone/backup
AssertPathIsDirectory=/mnt/rclone/cache/backup
Wants=network-online.target
After=network-online.target

[Service]
Type=notify
User=root
Group=root
ExecStart=/usr/bin/rclone mount \
	--config /opt/rclone/rclone.conf \
	--allow-other \
  --allow-non-empty \
	--fast-list \
  --dir-cache-time 48h \
  --cache-dir /mnt/rclone/cache/backup \
	--vfs-cache-mode full \
  --vfs-cache-max-age 48h \
	google-drive:/Backup /mnt/rclone/backup
ExecStop=/bin/fusermount -uz /mnt/rclone/backup
Restart=on-abort

[Install]
WantedBy=multi-user.target
