[Unit]
Description=rClone (Media Folder)
AssertPathIsDirectory=/mnt/rclone/media
AssertPathIsDirectory=/mnt/rclone/cache-db
Wants=network-online.target
After=network-online.target

[Service]
Type=notify
User=root
Group=root
ExecStart=/usr/bin/rclone mount \
  --config /opt/rclone/rclone.conf \
  --vfs-cache-mode full \
  --vfs-cache-max-age 6h \
  --buffer-size=128M \
  --use-mmap \
  --allow-other \
  --allow-non-empty \
  --dir-cache-time 48h \
  --cache-info-age 48h \
  --fast-list \
  --umask 002 \
  --gid 1100 \
  --uid 1100 \
  --log-level INFO \
  --cache-chunk-path /mnt/rclone/cache/cache-backend \
  --cache-dir /mnt/rclone/cache \
  --cache-db-path /mnt/rclone/cache-db \
  media-cache:/ /mnt/rclone/media
ExecStop=/bin/fusermount -uz /mnt/rclone/media
Restart=on-abort

[Install]
WantedBy=multi-user.target

