{% for host in groups['network_node'] %}
host-record=plex-request.eventide.network,{{ hostvars[host]['ansible_default_ipv4']['address'] }}
host-record=flame.eventide.network,{{ hostvars[host]['ansible_default_ipv4']['address'] }}
host-record=auth.eventide.network,{{ hostvars[host]['ansible_default_ipv4']['address'] }}
host-record=downloads.eventide.network,{{ hostvars[host]['ansible_default_ipv4']['address'] }}
host-record=flame.eventide.network,{{ hostvars[host]['ansible_default_ipv4']['address'] }}
host-record=kavita.eventide.network,{{ hostvars[host]['ansible_default_ipv4']['address'] }}
host-record=lidarr.eventide.network,{{ hostvars[host]['ansible_default_ipv4']['address'] }}
host-record=prowlarr.eventide.network,{{ hostvars[host]['ansible_default_ipv4']['address'] }}
host-record=radarr.eventide.network,{{ hostvars[host]['ansible_default_ipv4']['address'] }}
host-record=readarr.eventide.network,{{ hostvars[host]['ansible_default_ipv4']['address'] }}
host-record=sabnzbd.eventide.network,{{ hostvars[host]['ansible_default_ipv4']['address'] }}
host-record=sonarr.eventide.network,{{ hostvars[host]['ansible_default_ipv4']['address'] }}
host-record=tautulli.eventide.network,{{ hostvars[host]['ansible_default_ipv4']['address'] }}
{% endfor %}
